{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'stocks/styles.css' %}" />

{% endblock css %} {% block content %}

<div id="mainDisplay" class="container mt-5 mb-5">
  <div>
    <div class="nameDiv">
      <h1 class="mb-0" id="ticker">{{ stockObj.ticker }}</h1>
      <h6 id="fullName">{{ stockObj.fullName }}</h6>
    </div>
    <div class="priceDiv">
      <h2 id="price" class="currPrice"></h2>
      <h6 id="change"></h6>
    </div>
  </div>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_b3383"></div>
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>
    <script type="text/javascript">
      let ticker = $("#ticker").text();
      ticker = ticker.toUpperCase();
      new TradingView.MediumWidget({
        symbols: [[ticker + "|1D"]],
        chartOnly: true,
        width: "100%",
        height: "100%",
        locale: "en",
        colorTheme: "dark",
        isTransparent: false,
        autosize: true,
        showVolume: false,
        hideDateRanges: false,
        scalePosition: "right",
        scaleMode: "Normal",
        fontFamily:
          "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
        noTimeScale: false,
        valuesTracking: "1",
        chartType: "line",
        fontColor: "#787b86",
        gridLineColor: "rgba(240, 243, 250, 0.06)",
        color: "rgba(8, 153, 129, 1)",
        container_id: "tradingview_b3383",
      });
    </script>
  </div>
  <!-- TradingView Widget END -->
  {% if request.user.is_authenticated %}
  <!-- Buy/Sell -->
  <div class="infoDiv pt-2">
    <ul class="nav nav-tabs" id="buy/sell" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link buy"
          id="buy-tab"
          data-toggle="tab"
          href="#buypanel"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Buy</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link sell"
          id="sell-tab"
          data-toggle="tab"
          href="#sellpanel"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Sell</a
        >
      </li>
    </ul>
    <div class="tab-content boxDiv" id="buysell-tab">
      <div
        class="tab-pane fade"
        id="buypanel"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="line-height">
          <span class="buysell-title">Buy {{stockObj.ticker}}</span><br />
          <small class="small-text" id="cashBal">${{cash}} available</small>
        </div>
        <form id="buy-form" method="POST" action="">
          {% csrf_token %}
          <span class="buysell-section">
            <label for="quantity">Number of Shares</label>
            <input
              class="align-right quantity-input"
              type="number"
              min="0"
              id="quantity"
              name="quantity"
              placeholder="0"
            />

            <br />
            <input type="hidden" name="orderType" value="Buy" />
          </span>
          <span class="buysell-section pt-3 pb-3">
            Market Price<span class="currPrice align-right"></span>
          </span>
          <span class="buysell-section pt-3 pb-3 no-underline">
            Estimated Cost:<span class="tradeCost align-right">$0.00</span>
          </span>
          <button class="orderButton" type="submit">Submit Order</button>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="sellpanel"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="line-height">
          <span class="buysell-title">Sell {{stockObj.ticker}}</span><br />
          <small class="small-text" id="cashBal">${{cash}} available</small>
        </div>
        <form id="sell-form" method="POST" action="">
          {% csrf_token %}
          <span class="buysell-section">
            <label for="quantity">Number of Shares</label>
            <input
              class="align-right quantity-input"
              type="number"
              min="0"
              id="sell-quantity"
              name="quantity"
              placeholder="0"
            />

            <br />
            <input type="hidden" name="orderType" value="Sell" />
          </span>
          <span class="buysell-section pt-3 pb-3">
            Market Price<span class="currPrice align-right"></span>
          </span>
          <span class="buysell-section pt-3 pb-3 no-underline">
            Estimated Credit:<span class="tradeCost align-right">$0.00</span>
          </span>
          <button class="orderButton" type="submit">Submit Order</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Buy/Sell END -->
  {% endif %}
  <div class="pt-2">
    <hr class="line-break" />
  </div>
  <!-- Postions -->
  {% if stockObj.shares %}
  <h4>Your Position</h4>
  <div class="spaceBetween">
    <div>
      Shares<br />
      <span class="positionInfo" id="shares">{{ stockObj.shares }}</span>
    </div>
    <div>
      Average Price<br />
      <span class="positionInfo" id="avgPrice"
        >${{ stockObj.avgBuyPrice }}</span
      >
    </div>
    <div>
      Net liq.<br />
      <span class="positionInfo" id="netLiq"></span>
    </div>
    <div>
      P/L Open<br />
      <span class="positionInfo" id="plOpen"></span>
    </div>
    <div>
      P/L Day<br />
      <span class="positionInfo" id="plDay"></span>
    </div>
  </div>
  <!-- Postions END -->
  <div class="pt-2">
    <hr class="line-break" />
  </div>
  {% endif %}
  <div class="infoDiv pt-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="price-tab"
          data-toggle="tab"
          href="#priceInfo"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Price Information</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="fundamental-tab"
          data-toggle="tab"
          href="#fundamentalInfo"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Company Fundamentals</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="priceInfo"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="pt-2 pb-2">
          <div class="parent">
            <div class="child">
              <div class="label">Prev Close Price</div>
              <div class="info-tab-section" id="prevClose">
                ${{stockObj.prevClose}}
              </div>
            </div>
            <div class="child">
              <div class="label">Bid Price</div>
              <div class="info-tab-section" id="bidPrice"></div>
            </div>
            <div class="child">
              <div class="label">Ask Price</div>
              <div class="info-tab-section" id="askPrice"></div>
            </div>
            <div class="child">
              <div class="label">Avg Volume</div>
              <div class="info-tab-section" id="avgVolume">
                {{stockObj.volume}}
              </div>
            </div>
            <div class="child">
              <div class="label">High</div>
              <div class="info-tab-section" id="high"></div>
            </div>
            <div class="child">
              <div class="label">Low</div>
              <div class="info-tab-section" id="low"></div>
            </div>
            <div class="child">
              <div class="label">52 Week Low</div>
              <div class="info-tab-section" id="52low"></div>
            </div>
            <div class="child">
              <div class="label">52 Week High</div>
              <div class="info-tab-section" id="52high"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="fundamentalInfo"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="pt-2 pb-2">
          <div class="parent">
            <div class="child">
              <div class="label">P/E Ratio</div>
              <div class="info-tab-section">{{stockObj.PEratio}}</div>
            </div>
            <div class="child">
              <div class="label">PEG Ratio</div>
              <div class="info-tab-section">{{stockObj.PEGratio}}</div>
            </div>
            <div class="child">
              <div class="label">PCF Ratio</div>
              <div class="info-tab-section">{{stockObj.PCFratio}}</div>
            </div>
            <div class="child">
              <div class="label">Total D/E</div>
              <div class="info-tab-section">{{stockObj.DEratio}}</div>
            </div>
            <div class="child">
              <div class="label">Market Cap</div>
              <div class="info-tab-section">${{stockObj.marketCap}}</div>
            </div>
            <div class="child">
              <div class="label">Beta</div>
              <div class="info-tab-section">{{stockObj.beta}}</div>
            </div>
            <div class="child">
              <div class="label">Dividend</div>
              <div class="info-tab-section">${{stockObj.dividend}}</div>
            </div>
            <div class="child">
              <div class="label">EPS(TTM)</div>
              <div class="info-tab-section">${{stockObj.eps}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <hr class="line-break" />
  </div>

  <div>
    <h4>Company Bio</h4>
    <span id="description">{{stockObj.description}}</span>
  </div>

  <div class="pt-2">
    <hr class="line-break" />
  </div>

  <div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container mb-0">
      <div class="tradingview-widget-container__widget"></div>

      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
        async
      >
          {
          "interval": "1m",
          "width": "100%",
          "isTransparent": true,
          "height": "100%",
          "symbol": "NASDAQ:{{ticker}}",
          "showIntervalTabs": true,
          "locale": "en",
          "colorTheme": "dark"
        }
      </script>
    </div>
    <!-- TradingView Widget END -->
  </div>

  <div class="pt-2">
    <hr class="line-break" />
  </div>

  <div class="boxDiv newsDiv">
    <span class="title">NEWS</span>
    {% for article in newsObj %}
    <div class="newsContent">
      <img
        class="image"
        src="{{article.imageUrl}}"
        alt="Article Image"
        onerror="if (this.src != 'error.jpg') this.src = 'https://i.postimg.cc/cJFms8zy/download.jpg';"
      />
      <div>
        <a href="{{article.url}}" class="links">{{article.title}}</a>
        <br />
        <span class="sourceTime"
          >{{article.source}} - {{article.dateTime}}</span
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{% static 'stocks/main.js' %}"></script>

{% endblock content %}
