{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'stocks/styles.css' %}" />
<link rel="stylesheet" href="{% static 'portfolio/account.css' %}" />

<div id="container" class="container">
  <div id="mainDiv">
    <div id="accountInfo">
      <span id="topDiv" class="labelNum">
        <span class="labelSpan">Balance</span>
        <span id="accountBal">${{accountBal}}</span>
      </span>
      <span class="labelNum">
        <span class="labelSpan">Withdrawable Cash</span>
        <span id="cash">${{cash}}</span>
      </span>
    </div>
    <div id="doChartDiv">
      <canvas id="doChart"></canvas>
    </div>
  </div>
  <!-- Buy/Sell -->
  <div class="infoDiv pt-2">
    <ul class="nav nav-tabs" id="buysellSelect" role="tablist">
      <li id="left-item" class="nav-item">
        <a
          class="nav-link buy"
          id="buy-tab"
          data-toggle="tab"
          href="#buypanel"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Deposit</a
        >
      </li>
      <li id="right-item" class="nav-item">
        <a
          class="nav-link sell"
          id="sell-tab"
          data-toggle="tab"
          href="#sellpanel"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Withdraw</a
        >
      </li>
    </ul>
    <div class="tab-content" id="buysell-tab">
      <div
        class="tab-pane fade pane-width"
        id="buypanel"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <form id="buy-form" method="POST" action="">
          {% csrf_token %}
          <span class="buysell-section">
            <div class="radio-buttons">
              <label class="labl">
                <input type="radio" name="radioname" value="Bank of America" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    id="boa-logo"
                    src="{% static 'portfolio/images/Bank of America.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Chase Bank" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Chase Bank.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Wells Fargo" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Wells Fargo.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Citi Bank" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Citi Bank.png' %}"
                    alt=""
                  />
                </div>
              </label>
            </div>
            <label for="quantity">Deposit Amount</label>
            <input
              class="align-right quantity-input"
              type="number"
              min="0"
              id="deposit"
              name="deposit"
              placeholder="0"
            />

            <br />
            <input type="hidden" name="orderType" value="deposit" />
          </span>
          <span class="buysell-section pt-3 pb-3 no-underline">
            Estimated Account Balance<span
              id="depositBal"
              class="tradeCost align-right"
              >${{accountBal}}</span
            >
          </span>
          <button id="deposit-button" class="orderButton" type="submit">
            Submit Deposit
          </button>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="sellpanel"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <form id="sell-form" method="POST" action="">
          {% csrf_token %}
          <span class="buysell-section">
            <div class="radio-buttons">
              <label class="labl">
                <input type="radio" name="radioname" value="Bank of America" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    id="boa-logo"
                    src="{% static 'portfolio/images/Bank of America.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Chase Bank" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Chase Bank.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Wells Fargo" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Wells Fargo.png' %}"
                    alt=""
                  />
                </div>
              </label>
              <label class="labl">
                <input type="radio" name="radioname" value="Citi Bank" />
                <div class="bank-logoDiv">
                  <img
                    class="bank-logo"
                    src="{% static 'portfolio/images/Citi Bank.png' %}"
                    alt=""
                  />
                </div>
              </label>
            </div>
            <label for="withdraw">Withdraw Amount</label>
            <input
              class="align-right quantity-input"
              type="number"
              min="0"
              id="withdraw"
              name="withdraw"
              placeholder="0"
            />

            <br />
            <input type="hidden" name="orderType" value="withdraw" />
          </span>
          <span class="buysell-section pt-3 pb-3 no-underline">
            Estimated Account Balance<span
              id="withdrawBal"
              class="tradeCost align-right"
              >${{accountBal}}</span
            >
          </span>
          <button id="sell-button" class="orderButton" type="submit">
            Submit Withdraw
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Buy/Sell END -->
  {% load mathfilters %} {% if transactions %}
  <div id="transactions">
    <div class="padding-around">
      <span id="transTitle">Transaction History</span>
      {% for transaction in transactions %}
      <div class="trans-section">
        <div class="bank-logoDiv transhist-logo">
          <img
            class="bank-logo trans-img"
            src="{% static 'portfolio/images/'|add:transaction.bank|add:'.png' %}"
            alt=""
          />
        </div>
        <div class="bank-date">
          <div class="center-content">
            <span class="bank-name">{{transaction.bank}}</span>
            <br />
            <span class="trans-date">{{transaction.date}}</span>
          </div>
        </div>
        <div class="dw-amount">
          {% if transaction.change < 0 %} -${{ transaction.change|abs }}
          {%else%} +${{transaction.change}} {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<script src="{% static 'portfolio/Chart.min.js' %}"></script>
<script src="{% static 'portfolio/center-text-plugin.js' %}"></script>
<script language="JavaScript">
  //create chart
  console.log({{doChartData|safe}})
  var doughnut = document.getElementById("doChart");
  var myDoughnutChart = new Chart(doughnut, {
    type: "doughnut",
    data: {
      labels: {{doChartLabels|safe}},
      datasets: [
        {
          label: "My First dataset",
          data: {{doChartData|safe}},
          backgroundColor:['white','black'],
          borderColor:['white','black'],
        },
      ],
    },
    options: {
      elements: {
        center: {
          text: '$',
          color: 'white', // Default is #000000
          fontStyle: "DM Sans",
          sidePadding: 20, // Default is 20 (as a percentage)
          maxFontSize: 23, // Default is 20 (in px), set to false and text will not wrap.
          lineHeight: 25 // Default is 25 (in px), used for when text wraps
      }
    },
      maintainAspectRatio: false,
      responsive:true,
      cutoutPercentage: 90,
              legend: {
                  display:false,
                  position: 'bottom'
              },

    },
  });
</script>
<script src="{% static 'portfolio/account.js' %}"></script>
{% endblock content %}
