{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'portfolio/dash-styles.css' %}" />

<div class="container">
  <div class="spaceBetween">
    <div class="accountDiv boxDiv">
      Total Value
      <br />
      <span>${{totalValue}}</span>
    </div>
    <div class="accountDiv boxDiv">
      Total Return
      <br />
      <span>${{totalReturn}}</span>
    </div>
    <div class="accountDiv boxDiv">
      Day Return
      <br />
      <span>${{dailyReturn}}</span>
    </div>
  </div>
  <br />
  <div id="chart" class="boxDiv">
    <canvas id="myAreaChart"></canvas>
  </div>
  <div class="infoSection">
    <div class="boxDiv infoDiv">
      <span class="title">TOP GAINERS</span>
      <div style="overflow-x: auto" id="positions">
        <table>
          <thead>
            <th class="symbolTH">Symbol</th>
            <th class="priceTH">Last Price</th>
            <th class="priceTH">Change</th>
            <th class="priceTH">%Change</th>
          </thead>
          <tbody>
            {% for gainer in gainers %}
            <tr data-href="{% url 'portfolio:ticker' gainer.symbol %}">
              <td class="symbolCol">
                {{gainer.symbol}}
                <br />
                <small class="fullName">{{gainer.name}}</small>
              </td>
              <td class="priceInfo">{{gainer.price}}</td>
              <td class="gainerChange priceInfo">+ {{gainer.change}}</td>
              <td class="gainerChange priceInfo">+ {{gainer.percent}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxDiv infoDiv">
      <span class="title">TOP LOSERS</span>
      <div style="overflow-x: auto" id="positions">
        <table>
          <thead>
            <th class="symbolTH">Symbol</th>
            <th class="priceTH">Last Price</th>
            <th class="priceTH">Change</th>
            <th class="priceTH">%Change</th>
          </thead>
          <tbody>
            {% for loser in losers %}
            <tr data-href="{% url 'portfolio:ticker' loser.symbol %}">
              <td class="symbolCol">
                {{loser.symbol}}
                <br />
                <small class="fullName">{{loser.name}}</small>
              </td>
              <td class="priceInfo">{{loser.price}}</td>
              <td class="loserChange priceInfo">- {{loser.change}}</td>
              <td class="loserChange priceInfo">- {{loser.percent}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="infoSection">
    <div class="boxDiv newsDiv flexHeight">
      <div id="areaTitle">TOTAL INVESTMENT</div>
      <div id="doChart"><canvas id="doughnutChart"></canvas></div>
    </div>
    <div class="boxDiv newsDiv">
      <span class="title">NEWS</span>
      {% for article in news %}
      <div class="newsContent">
        <img
          class="image"
          src="{{article.imageUrl}}"
          alt="Article Image"
          onerror="if (this.src != 'error.jpg') this.src = 'https://i.postimg.cc/cJFms8zy/download.jpg';"
        />
        <div>
          <a href="{{article.url}}" class="links">{{article.title}}</a>
          <br />
          <span class="sourceTime"
            >{{article.source}} - {{article.dateTime}}</span
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
-->
  <script src="{% static 'portfolio/Chart.min.js' %}"></script>
  <script src="{% static 'portfolio/chart-area.js' %}"></script>
  <script src="{% static 'portfolio/center-text-plugin.js' %}"></script>
  <script src="{% static 'portfolio/dashboard.js' %}"></script>

  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <script language="JavaScript">
    //functions to calculate color wheel
    function calculatePoint(i, intervalSize, colorRangeInfo) {
      var { colorStart, colorEnd, useEndAsStart } = colorRangeInfo;
      return (useEndAsStart
      ? (colorEnd - (i * intervalSize))
      : (colorStart + (i * intervalSize)));
    }
    function interpolateColors(dataLength, colorScale, colorRangeInfo) {
      var { colorStart, colorEnd } = colorRangeInfo;
      var colorRange = colorEnd - colorStart;
      var intervalSize = colorRange / dataLength;
      var i, colorPoint;
      var colorArray = [];

      for (i = 0; i < dataLength; i++) {
        colorPoint = calculatePoint(i, intervalSize, colorRangeInfo);
        colorArray.push(colorScale(colorPoint));
      }

      return colorArray;
    }
    colorScale = d3.interpolateBuPu;
    colorRangeInfo = {
      colorStart:0,
      colorEnd:0.95,
      useEndAsStart:true,
    }
    colors2 = interpolateColors({{doChartData|length}},colorScale,colorRangeInfo)

    //create chart
    var doughnut = document.getElementById("doughnutChart");
    var myDoughnutChart = new Chart(doughnut, {
      type: "doughnut",
      data: {
        labels: {{doChartLabels|safe}},
        datasets: [
          {
            label: "My First dataset",
            data: {{doChartData|safe}},
            backgroundColor:colors2,
            borderColor:colors2,
          },
        ],
      },
      options: {
        'onClick' : function (evt, item) {
                        console.log ('legend onClick', evt);
                        console.log('legd item', item.datasetIndex);
                    },
        elements: {
          center: {
            text: '$'+{{totalValue}},
            color: 'white', // Default is #000000
            fontStyle: "DM Sans",
            sidePadding: 20, // Default is 20 (as a percentage)
            maxFontSize: 23, // Default is 20 (in px), set to false and text will not wrap.
            lineHeight: 25 // Default is 25 (in px), used for when text wraps
        }
      },
        maintainAspectRatio: false,
        responsive:true,
        cutoutPercentage: 80,
                legend: {
                    position: 'bottom'
                },

      },
    });
  </script>
  <script language="JavaScript">
    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: {{labels|safe}},
        datasets: [
          {
            label: "Balance",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.15)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 0,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: {{ data|safe }},
          },
        ],
      },
      options: {
        hover: {
          intersect: false,
        },
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 5,
            right: 25,
            top: 25,
            bottom: 0,
          },
        },
        scales: {
          xAxes: [
            {
              time: {
                unit: "date",
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                autoSkip: true,
                maxTicksLimit: 7,
                fontColor:"rgb(191, 191, 191)",
                fontSize:10,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                fontColor:"rgb(191, 191, 191)",
                maxTicksLimit: 5,
                padding: 10,
                fontSize:10,

                // Include a dollar sign in the ticks
                callback: function (value, index, values) {
                  return "$" + number_format(value);
                },
              },
              gridLines: {
                display: false,
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2],
              },
            },
          ],
        },
        legend: {
          display: false,
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: "#6e707e",
          titleFontSize: 14,
          borderColor: "#dddfeb",
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: "index",
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel =
                chart.datasets[tooltipItem.datasetIndex].label || "";
              return datasetLabel + ": $" + number_format(tooltipItem.yLabel);
            },
          },
        },
      },
    });
  </script>
  {% endblock content %}
</div>
