.tradingview-widget-container {
  height: 500px !important;
  margin-bottom: 75.19px;
}

#fullName {
  margin-top: 0;
}

.nameDiv {
  float: left;
  padding-left: 10px;
}

.priceDiv {
  float: right;
  padding-right: 10px;
  text-align: right;
}

.nav-item {
  width: 50%;
}

#myTab {
  color: white;
}

#fundamental-tab {
  color: white;
  text-align: center;
  border-color: white;
}

#price-tab {
  color: white;
  text-align: center;
  border-color: white;
  height: 100%;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #3c4753;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: rgba(255, 255, 255, 0.65); /* Modern Browsers */
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 15px;
  height: 40px;
  min-width: 200px;
  border-radius: 5px;
  background-color: #3c4753;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background-color: white;
  color: black;
  font-size: smaller;
  font-weight: 0;
}

.info-tab-section {
  display: inline-block;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 0;
}

#description {
  font-size: 0.85rem !important;
  font-weight: 100 !important;
}

.buy {
  background-color: rgba(8, 153, 129, 1);
  border-radius: 5px !important;
  border-color: white;
}

.sell {
  background-color: #f1272e;
  border-radius: 5px !important;
  border-color: white;
}
.nav-tabs {
  border-bottom: none;
}

.nav-item {
  text-align: center;
}

#buysell-tab {
  border: thin;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.positionInfo {
  font-size: 0.85rem !important;
  font-weight: 100 !important;
}

.newsDiv {
  flex: 1 0 21%;
  min-width: 350px;
  min-height: 400px;
  height: auto;
  padding: 20px;
}

.boxDiv {
  background-color: rgba(40, 40, 40, 0.75);
  border-radius: 5px;
  box-shadow: 7px 7px 8px hsl(0deg 0% 0% / 0.38);
}
.newsContent {
  padding-top: 30px;
}

.image {
  height: 5%;
  width: 10%;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

.sourceTime {
  font-size: 65%;
  color: grey;
}
@media only screen and (max-width: 776px) {
  .image {
    height: 8%;
    width: 17%;
  }
  #buysell-tab .tab-pane {
    width: 100% !important;
  }
}

.leftSide {
  float: left;
}

.rightSide {
  float: right;
}

#buysell-tab .tab-pane {
  overflow: auto;
  width: 50%;
}

#buysell-tab {
  display: flex;
  width: 100%;
  justify-content: center;
}

.align-right {
  float: right;
}

.orderButton {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(8, 153, 129, 1);
  color: white;
}

.orderButton:hover {
  cursor: pointer;
  border: 1px solid white;
}

.quantity-input {
  width: 60px;
  background-color: inherit;
  border: none;
  color: white;
  text-align: right;
}

.tab-pane {
  padding: 10px;
}

input:focus {
  outline: none;
}

.line-height {
  line-height: 0.9em;
  padding-bottom: 20px;
}

.small-text {
  font-size: 13px;
  color: grey;
}

.buysell-title {
  font-size: 18px;
}
.buysell-section {
  border-bottom: 1px solid grey;
  display: block;
  width: 100%;
  font-size: 15px;
}

.no-underline {
  border-bottom: none !important;
}
