.tradingview-widget-container {
  height: 500px !important;
  margin-bottom: 75.19px;
}

#fullName {
  margin-top: 0;
}

.nameDiv {
  float: left;
  padding-left: 10px;
}

.priceDiv {
  float: right;
  padding-right: 10px;
  text-align: right;
}

.nav-item {
  width: 50%;
}

#myTab {
  color: white;
}

#fundamental-tab {
  color: white;
  text-align: center;
  border-color: white;
}

#price-tab {
  color: white;
  text-align: center;
  border-color: white;
  height: 100%;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #3c4753;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: rgba(255, 255, 255, 0.65); /* Modern Browsers */
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 15px;
  height: 40px;
  min-width: 200px;
  border-radius: 5px;
  background-color: #3c4753;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background-color: white;
  color: black;
  font-size: smaller;
  font-weight: 0;
}

.info-tab-section {
  display: inline-block;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 0;
}

#description {
  font-size: 0.85rem !important;
  font-weight: 100 !important;
}

.buy {
  background-color: rgba(8, 153, 129, 1) !important;
  border-radius: 5px !important;
  border-color: white;
}

.sell {
  background-color: #f1272e !important;
  border-radius: 5px !important;
  border-color: white;
}
.nav-tabs {
  border-bottom: none;
}

.nav-item {
  text-align: center;
}

#quantity {
  width: 100px;
  height: 25px;
}

#buysell-tab {
  border: thin;
}
