#mainDiv {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ecc1bf;
  color: #51557e;
  height: 200px;
}

#accountInfo {
  width: 50%;
  float: left;
  padding: 30px;
}
#doChartDiv {
  width: 50%;
  float: right;
}

.labelNum {
  display: block;
}

.labelSpan {
  display: block;
  font-size: 13px;
}

#accountBal {
  font-size: 25px;
}

#cash {
  font-size: 15px;
}

#topDiv {
  margin-bottom: 20px;
}

#doChart {
  padding-top: 10px;
}

#container {
  max-width: 750px;
}

.container .nav-link {
  width: 100%;
}

#buysellSelect {
  width: 100%;
}

.container .nav-link {
  background-color: #7eb8f3 !important;
  color: #51557e !important;
  border-radius: 20px !important;
  height: 50px !important;
  line-height: 30px !important;
}

#left-item {
  padding-right: 15px;
}

#right-item {
  padding-left: 15px;
}

@media only screen and (max-width: 412px) {
  #doChartDiv {
    width: 40%;
  }
  #accountInfo {
    width: 60%;
  }
}

#transactions {
  width: auto;
  height: auto;
  background-color: #051658;
  margin-top: 25px !important;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 30px;
}

.tab-content {
  background-color: #ecc1bf !important;
}

.labl {
  flex: 1;
  display: inline-block;
  width: auto;
}
.labl > input {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.labl > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.labl > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.bank-logo {
  max-width: 75%;
  max-height: 75%;
}

.bank-logoDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51557e;
  border-radius: 10px;
}

#boa-logo {
  max-width: 90%;
  max-height: 90%;
}
@media only screen and (max-width: 776px) {
  #buysell-tab .pane-width {
    width: 70% !important;
  }
}

@media only screen and (max-width: 425px) {
  #buysell-tab .pane-width {
    width: 100% !important;
  }
}

.orderButton {
  background-color: #7eb8f3;
  color: #51557e;
}

.tab-content {
  border-radius: 10px;
  color: #51557e;
}

.padding-around {
  padding: 30px;
}

#transTitle {
  font-size: 19px;
  font-weight: lighter;
}

.transhist-logo {
  width: 55px;
  height: 55px;
  margin: 0;
}

.trans-image {
  max-width: 60% !important;
  max-height: 60% !important;
}

.trans-section {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  padding-bottom: 20px;
}

.bank-date {
  padding-left: 20px;
  align-items: center;
}

.trans-date {
  font-size: small;
  color: grey;
}

.center-content {
  padding-top: 8px;
  line-height: 1.2em;
}

.dw-amount {
  margin-left: auto;
  padding-top: 8px;
  line-height: 1.2em;
}
