body {
  background-color: #51557e;
  font-family: "DM Sans", sans-serif;
  color: white;
}

#search-bar {
  width: 400px;
}

@media only screen and (max-width: 989px) {
  #search-bar {
    width: 100%;
  }
}
